@font-face {
    font-family: "Montsterrat";
    src: url("/assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
  }
  
  html {
    font-size: 16px;
    font-family: "Montsterrat";
  }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 8px;
      padding: 1rem;
    }}