@import "../colors/colors.css";

.navbar {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.contact-us {
  padding: 1rem 2.5rem;
  background-color: var(--primary-background-color);
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: max-content;
}
.brand {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.1px;
    color: var(--header-text-color);
  }