@import "../colors/colors.css";
body {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.main-header {
  color: var(--header-text-color);
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 5rem;
}
.secondary-header {
  color: var(--header-text-color);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 3rem;
}
.header-tag {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}
.subheader {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
}

.secondary-line {
  width: 4rem;
  height: 0.125rem;
  background-color: var(--primary-background-color);
}
.primary-line {
  width: 6rem;
  height: 0.5rem;
  background-color: var(--primary-background-color);
}
.description {
  font-size: 0.9rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}
.contact-us {
  padding: 1rem 2.5rem;
  background-color: var(--primary-background-color);
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: max-content;
}

.main-section {
  /* padding: 0 12rem; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 12rem;
}
.main-page-bg-image {
  background-image: url("/assets/images/main-page-cover.png");
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.info-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 1.4rem;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.info-card img {
  width: 70px;
  height: 76px;
}
.second-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.second-section-content {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.sponsors-container {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
.footer-header {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}
.footer-container ul li,.footer-bottom {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer-last-column li{
 display: flex;
 align-items: center;
 gap: 1rem;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer-bottom-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
  .container {
    padding: 0 4rem;
  }

  .main-page-bg-image {
    background-position: auto;
    background-size: contain;
    max-width: 100vw;
  }
  .info-cards-container {
    flex-direction: column;
  }
  .info-card {
    width: max-content;
    gap: 1rem;
    max-width: 70%;
  }
  .info-card img {
    max-width: 4rem;
    max-height: 4rem;
  }

  .second-section img {
    max-width: 40%;
  }
  .second-section {
    justify-content: space-between;
  }
  .sponsors-container img {
    max-width: 5%;
  }

  .secondary-header {
    font-size: 2.5rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
  }
  .footer-container img,
  .footer-bottom img {
    width: 2rem;
    height: 2rem;
  }
  .sponsors-container {
    display: none;
  }
}
