<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style/normalize.css" />
    <link rel="stylesheet" href="../assets/style/font/font.css" />

    <link rel="stylesheet" href="../assets/style/css/general/header.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="brand" target="_top" href="/index.html">Brandname</a>
      <a class="contact-us" target="_top" href="/index.html#courses"
        >DISCOVER
        <img
          class="arrow"
          src="../assets/images/arrow-right.svg"
          alt="right arrow"
        />
      </a>
    </nav>
  </body>
  <script></script>
</html>
