@import "colors.css";
@font-face {
  font-family: "Montsterrat";
  src: url("/assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html {
  font-size: 16px;
  font-family: "Montsterrat";
}
body {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 5rem;
}

.main-header {
  color: var(--header-text-color);
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 5rem;
}
.secondary-header {
  color: var(--header-text-color);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 3rem;
}
.header-tag {
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}
.subheader {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
}
.contact-us {
  padding: 1rem 2.5rem;
  background-color: var(--primary-background-color);
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  max-width: max-content;
}
.secondary-line {
  width: 4rem;
  height: 0.125rem;
  background-color: var(--primary-background-color);
}
.primary-line {
  width: 6rem;
  height: 0.5rem;
  background-color: var(--primary-background-color);
}
.description {
  font-size: 0.9rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.1px;
  color: var(--header-text-color);
}

.main-section {
  padding: 0 12rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.main-page-bg-image {
  background-image: url("/assets/images/main-page-cover.png");
  background-repeat: no-repeat;
  background-origin: padding-box;
}
.navbar {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.info-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 1.4rem;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.info-card img {
  width: 70px;
  height: 76px;
}
.second-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.second-section-content {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.sponsors-container {
  display: flex;
  justify-content: space-between;
}
.second-section-container {
  padding: 0 12rem;
}
.footer-container {
  padding: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
.footer-header {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}
.footer-container ul li,.footer-bottom {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer-last-column li{
 display: flex;
 align-items: center;
 gap: 1rem;
}
.footer-bottom{
  display: flex;
  padding: 0 12rem;
  justify-content: space-between;
}
.footer-bottom-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
