@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
    padding: 1rem;
  }
  .arrow {
    display: none;
  }
  .main-section {
    padding: 0 4rem;
  }
  .main-page-bg-image {
    background-position: auto;
    background-size: contain;
  }
  .info-cards-container {
    flex-direction: column;
  }
  .info-card {
    width: max-content;
    gap: 1rem;
    max-width: 70%;
  }
  .info-card img {
    max-width: 4rem;
    max-height: 4rem;
  }

  .second-section img {
    max-width: 40%;
   
  }
  .second-section {
    justify-content: space-between;
  }
  .sponsors-container img {
    max-width: 5%;
  }
  .second-section-container {
    padding: 0 4rem;
  }
  .secondary-header {
    font-size: 2.5rem;
  }
  .footer-container,.footer-bottom{
    padding: 0 4rem;
  }
  .footer-container{
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
  }
  .footer-container img,.footer-bottom img{
    width: 2rem;
    height: 2rem;
  }
  .sponsors-container {
    display: none;
  }

}
