:root {
  --header-text-color: #252b42;
  --primary-text-color: #737373;
  --secondary-text-color: #ff6551;
  --primary-background-color: #ff6551;
  --secondary-background-color: #26335d;
  --tertary-background-color: rgb(43, 204, 43);
}
